:root {
    --hover-color: #03A9F4;
    --navigation-color: #7D7D7D;
    --filter-color: #B4AD9E;
    --text-color: #626262;
}

/*{}*/
.container{
    width:936px ;
    padding:0 15px ;
    margin:0 auto ;
    border: 1px solid skyblue;
}
body {
    font-family: 'Playfair Display', serif;
    width: 936px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 14px;
}

.filter {
    font-family: 'Ubuntu', sans-serif;
}

.link-navigation {
    color: var(--navigation-color);
    text-decoration: none;
    text-transform: uppercase;


}

.list-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 555px;
    margin: 0 auto;
}

.link-navigation:hover,
.link-navigation:focus {
    color: var(--hover-color);
}

.cards {
    list-style: none;
    width: 420px;
    display: flex;
    flex-wrap: wrap;

}

.filter {
    color: var(--filter-color);
    margin-bottom: 32px;
}
.title-card{
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 40px;
}
.text{
    color: var(--text-color);
}
.btn{
    border: 1px solid var(--text-color);
    background-color: white;
    padding: 20px 49px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}
.header{
    padding-top: 71px;
    padding-bottom: 92px;

}
.img-cards{
    margin-bottom: 62px;
}
.item-cards{
    margin-bottom: 130px;
}
.photo{
    padding-bottom: 66px;
}
.button-wrap{
    display: flex;
    justify-content: center;
}
.btn:hover,
.btn:{
    
}